:root {
    --page-width-main: 1050px;
    --linkcard-width: 220px;
    --readcard-width: 300px;

    --bg-color: #f9f9fb;

    --text-main-color: #262626;
    --text-secondry-color: #464646;
    --text-gray-color: #636363;
}